<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../../public/assets/styles.css">
    <!-- Adding Additional Quiz Styles Here -->
    <style>
        .quiz {
            border: 5px outset #F79DA8;
            background-color: #3B0028;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        a {
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <header><%- include('header.ejs') %></header>

    <h2>Astronomy Practice Quiz</h2>

    <div class="quiz" id="quiz"></div>
    <button class= "quiz" id="submit">Submit Quiz</button>
    <div id="results"></div>

    <h3><a href="quizzes">Back</a></h3>

    <p>Disclaimer: this quiz is not intended to be a replacement for practice. These are a sample of questions that may be found in the event.</p>

    <script>
        //declare variables
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');

        const testQuestions = [ //list of questions
            {
                question: "1. What percentage of the mass-energy of the universe is made up of dark energy?",
                answers: {
                    a: "10%",
                    b: "70%",
                    c: "68%"
                },
                correctAnswer: "c"
            },
            {
                question: "2. Quantom Field Theory predicts the value of the cosmological constant to be _____ orders of magnitude larger than we observe.",
                answers: {
                    a: "33",
                    b: "Over 100",
                    c: "87"
                },
                correctAnswer: "b"
            },
            {
                question: "3. How are galaxies organized and distributed within the universe?",
                answers: {
                    a: "Organized into clusters, distributed across the universe.",
                    b: "Organized across the universe, distributed in clusters.",
                    c: "Scattered at random."
                },
                correctAnswer: "a"
            },
            {
                question: "4. What would an outside observer see as an object approaches and crosses the event horizon of a black hole?",
                answers: {
                    a: "The object would not change speed.",
                    b: "The object would appear to move slower and slower as it approaches the event horizon, eventually appearing to freeze right before it comes.",
                    c: "The object would appear to move faster and faster as it approaches the event horizon, eventually disappearing into the black hole."
                },
                correctAnswer: "b"
            },
            {
                question: "5. What relationship relates the luminosity of a galaxy to its rotational speed?",
                answers: {
                    a: "Tully-Fisher",
                    b: "Kormeny",
                    c: "CM"
                },
                correctAnswer: "a"
            },
            {
                question: "6. What is the average temperature of the Cosmic Microwave Background, in Kelvins?",
                answers: {
                    a: "3.375",
                    b: "2.275",
                    c: "2.725"
                },
                correctAnswer: "c"
            },
            {
                question: "7. About what percent of the universe’s baryons are believed to exist in the Warm-Hot Intergalactic Medium?",
                answers: {
                    a: "50%",
                    b: "40%",
                    c: "30%"
                },
                correctAnswer: "b"
            },
            {
                question: "8. Which stars are younger and more luminous?",
                answers: {
                    a: "Population I",
                    b: "Population II",
                    c: "Population III"
                },
                correctAnswer: "a"
            },
            {
                question: "9. Which stellar population is more common in globular clusters?",
                answers: {
                    a: "Population I",
                    b: "Population II",
                    c: "Population III"
                },
                correctAnswer: "b"
            },
            {
                question: "10. The motion of the Andromeda galaxy towards the Milky Way galaxy despite the overall expansion of space is an example of which of the following?",
                answers: {
                    a: "Peculiar Motion",
                    b: "Circulation Motion",
                    c: "Straight Motion"
                },
                correctAnswer: "a"
            },
            {
                question: "11. Which of the following characterizes a starburst galaxy?",
                answers: {
                    a: "A normal rate of star formation",
                    b: "An extremely low rate of star formation",
                    c: "An extremely high rate of star formation"
                },
                correctAnswer: "c"
            },
            {
                question: "12. The No Hair theorem states that a black hole can be completely characterized by three externally observable characteristics. What are these three characteristics?",
                answers: {
                    a: "Mass, Charge, Spin",
                    b: "Weight, Size, Spin",
                    c: "Mass, Charge, Color",
                },
                correctAnswer: "a"
            }
            ];

        function buildQuiz(){ //function to build a quiz
            //variable to store the HTML output
            const output = [];

            //for each question...
            testQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    //variable to store the list of possible answers
                    const answers = [];

                    //and for each available answer...
                    for(letter in currentQuestion.answers){

                    //...add an HTML radio button
                    answers.push(
                        `<label>
                        <input type="radio" name="question${questionNumber}" value="${letter}">
                        ${letter})
                        ${currentQuestion.answers[letter]}
                        </label><br>`
                    );
                    }

                    //add this question and its answers to the output
                    output.push(
                    `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div><br>`
                    );
                }
            );

            //combine output list into one string of HTML and add to page
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){ //function to show the results of the quiz
            //get answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            //keep track of user's answers
            let numCorrect = 0;

            //for each question...
            testQuestions.forEach( (currentQuestion, questionNumber) => {

            //find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;

            //if answer is correct
            if(userAnswer === currentQuestion.correctAnswer){
                //add to the number of correct answers
                numCorrect++;

                //highlight the answers green
                answerContainers[questionNumber].style.backgroundColor  = 'green';
            }
            //if answer is wrong or blank
            else{
                //highlight the answers red
                answerContainers[questionNumber].style.backgroundColor  = 'red';
            }
            }); //count of correct answers will still work. 

            //show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${testQuestions.length}`;
        }

        //immediately display quiz
        buildQuiz();

        //show results when submitted
        submitButton.addEventListener('click', showResults);

    </script>
</body>
</html>