<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../../public/assets/styles.css">
    <!-- Adding Additional Quiz Styles Here -->
    <style>

    </style>
</head>
<body>
    <header><%- include('../header.ejs') %></header>

    <h2>Chemistry Lab Practice Quiz</h2>

    <div class="quiz" id="quiz"></div>
    <button class= "quizBtn" id="submit">Submit Quiz</button>
    <div id="results"></div>

    <h3><a href="quizzes">Back</a></h3>

    <p>Disclaimer: this quiz is not intended to be a replacement for practice. These are a sample of questions that may be found in the event.</p>

    <script>
        //declare variables
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');

        const testQuestions = [ //list of questions
            {
                question: "1. You are tasked with creating a buffer with a pH of 9.5. Which of the following acid-base pairs is most suitable for this buffer?",
                answers: { 
                    a: "CH3COOH/CH3COO-", 
                    b: "CHN/CN-", 
                    c: "H3PO4/H2PO4-"
                },
                correctAnswer: "b"
            },
            {
                question: "2. You are tasked with creating a buffer with a pH of 9.5. First, you must prepare 1.00L of a 0.500M solution of the conjugate acid. How many grams of acid are required?",
                answers: { 
                    a: "13.3 g HCN", 
                    b: "13.6 g HCN", 
                    c: "13.0 g HCN"
                },
                correctAnswer: "b"
            },
            {
                question: "3. You are tasked with creating a buffer with a pH of 9.5. How many mols of NaOH should be added to the resultant solution to attain a pH of 9.5?",
                answers: { 
                    a: "1.00 mol", 
                    b: "0.30 mol", 
                    c: "0.33 mol"
                },
                correctAnswer: "c"
            },
            {
                question: "4. You are tasked with creating a buffer with a pH of 9.5. How many grams of NaOH is the answer to the previous problem equivalent to?",
                answers: { 
                    a: "13.00 g", 
                    b: "13.33 g", 
                    c: "13.30 g"
                },
                correctAnswer: "b"
            },
            {
                question: "5. A 2.561 g sample of an unknown compound contains C, H, and O and a density of 1.453 g/mL. The compound is analyzed using combustion analysis and is determined to contain 3.753 g CO2 and 1.537 g H2O. The molar mass of the compound is 90.08 g/mol. Determine the mass of C in the compound.",
                answers: { 
                    a: "1.024 g C", 
                    b: "1.000 g C", 
                    c: "1.048 g C"
                },
                correctAnswer: "a"
            },
            {
                question: "6. A 2.561 g sample of an unknown compound contains C, H, and O and a density of 1.453 g/mL. The compound is analyzed using combustion analysis and is determined to contain 3.753 g CO2 and 1.537 g H2O. The molar mass of the compound is 90.08 g/mol. Determine the mass of H in the compound.",
                answers: { 
                    a: "0.171 g H", 
                    b: "1.172 g H", 
                    c: "0.172 g H"
                },
                correctAnswer: "c"
            },
            {
                question: "7. A 2.561 g sample of an unknown compound contains C, H, and O and a density of 1.453 g/mL. The compound is analyzed using combustion analysis and is determined to contain 3.753 g CO2 and 1.537 g H2O. The molar mass of the compound is 90.08 g/mol.  Determine the molecular formula of the compound",
                answers: { 
                    a: "C3H6O3", 
                    b: "C4C8O4", 
                    c: "C3H6O6"
                },
                correctAnswer: "a"
            },
            {
                question: "8. A solution is made from mixing 163 g of glycerin, C3H8O3, and 336 mL of water at 39.8 oC. Given the density of water is 0.9923 g/mL and vapor pressure of pure water at 39.8 oC is 54.74 mmHg, determine the vapor pressure, in mmHg, of the solution.",
                answers: { 
                    a: "49.9 mmHg", 
                    b: "50.0 mmHg", 
                    c: "49.8 mmHg"
                },
                correctAnswer: "a"
            }
        ];

        function buildQuiz(){ //function to build a quiz
            //variable to store the HTML output
            const output = [];

            //for each question...
            testQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    //variable to store the list of possible answers
                    const answers = [];

                    //and for each available answer...
                    for(letter in currentQuestion.answers){

                    //...add an HTML radio button
                    answers.push(
                            `<label style="display:flex;margin:5px;border:1px solid #ffd700;">
                            <input type="radio" name="question${questionNumber}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                            </label>`
                        );
                        
                    }

                    //add this question and its answers to the output
                    output.push(
                    `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div><br>`
                    );
                }
            );

            //combine output list into one string of HTML and add to page
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){ //function to show the results of the quiz
            //get answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            //keep track of user's answers
            let numCorrect = 0;

            //for each question...
            testQuestions.forEach( (currentQuestion, questionNumber) => {

            //find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;

            //if answer is correct
            if(userAnswer === currentQuestion.correctAnswer){
                //add to the number of correct answers
                numCorrect++;

                //highlight the answers green
                answerContainers[questionNumber].style.backgroundColor  = 'green';
            }
            //if answer is wrong or blank
            else{
                //highlight the answers red
                answerContainers[questionNumber].style.backgroundColor  = 'red';
            }
            }); //count of correct answers will still work. 

            //show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${testQuestions.length}`;
        }

        //immediately display quiz
        buildQuiz();

        //show results when submitted
        submitButton.addEventListener('click', showResults);

    </script>
</body>

<footer>
    <p>This website was created by the Solution Squid team</p>
</footer>
</html>