<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../../public/assets/styles.css">
    <!-- Adding Additional Quiz Styles Here -->
    <style>
    </style>
</head>
<body>
    <header><%- include('../header.ejs') %></header>

    <h1>Fermi Questions Practice Quiz</h1>

    <div class="quiz" id="quiz"></div>
    <button class= "quizBtn" id="submit">Submit Quiz</button>
    <div id="results"></div>

    <h3><a href="quizzes">Back</a></h3>

    <p>Disclaimer: this quiz is not intended to be a replacement for practice. These are a sample of questions that may be found in the event.</p>

    <script>
        //declare variables
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');

        const testQuestions = [ //list of questions
            {
                question: "1. How many seconds are there in a year? ",
                answers: { 
                    a: "3.15 x 10^7 s/y", 
                    b: "3.15 x 10^7 sec", 
                    c: "3.15 x 10^8 x/y"
                },
                correctAnswer: "a"
            },
            {
                question: "2. How many miles are there in a light-year? ",
                answers: { 
                    a: "5.9 x 10^13 m/y", 
                    b: "5.9 x 10^12 miles", 
                    c: "5.9 x 10^12 m/y"
                },
                correctAnswer: "c"
            },
            {
                question: "3. How many kilometers are there in a light-year?",
                answers: { 
                    a: "10^11", 
                    b: "10^12", 
                    c: "10^13"
                },
                correctAnswer: "c"
            },
            {
                question: "4. For the average American woman, how many times will her heart beat during her lifetime?",
                answers: { 
                    a: "24 x 10^9", 
                    b: "2.4 x 10^9", 
                    c: "2.4 x 10^10"
                },
                correctAnswer: "b"
            },
            {
                question: "5. How many heartbeats are there in a year for the entire world's population? ",
                answers: { 
                    a: "1.8 x 10^17", 
                    b: "2.0 x 10^17", 
                    c: "1.8 x 10^18"
                },
                correctAnswer: "a"
            },
            {
                question: "6. What is the density of butter in g/cc? ",
                answers: { 
                    a: "1.5 g/cm^3", 
                    b: "2 g/cm^3", 
                    c: "1.5"
                },
                correctAnswer: "a"
            }
        ];

        function buildQuiz(){ //function to build a quiz
            //variable to store the HTML output
            const output = [];

            //for each question...
            testQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    //variable to store the list of possible answers
                    const answers = [];

                    //and for each available answer...
                    for(letter in currentQuestion.answers){

                    //...add an HTML radio button
                    answers.push(
                            `<label style="display:flex;margin:10px">
                            <input type="radio" name="question${questionNumber}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                            </label>`
                        );
                        
                    }

                    //add this question and its answers to the output
                    output.push(
                    `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div><br>`
                    );
                }
            );

            //combine output list into one string of HTML and add to page
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){ //function to show the results of the quiz
            //get answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            //keep track of user's answers
            let numCorrect = 0;

            //for each question...
            testQuestions.forEach( (currentQuestion, questionNumber) => {

            //find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;

            //if answer is correct
            if(userAnswer === currentQuestion.correctAnswer){
                //add to the number of correct answers
                numCorrect++;

                //highlight the answers green
                answerContainers[questionNumber].style.backgroundColor  = 'green';
            }
            //if answer is wrong or blank
            else{
                //highlight the answers red
                answerContainers[questionNumber].style.backgroundColor  = 'red';
            }
            }); //count of correct answers will still work. 

            //show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${testQuestions.length}`;
        }

        //immediately display quiz
        buildQuiz();

        //show results when submitted
        submitButton.addEventListener('click', showResults);

    </script>
</body>

<footer>
    <p>This website was created by the Solution Squid team</p>
</footer>
</html>