<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../../public/assets/styles.css">
    <!-- Adding Additional Quiz Styles Here -->
    <style>

    </style>
</head>
<body>
    <header><%- include('../header.ejs') %></header>

    <h1>Forensics Practice Quiz</h1>

    <div class="quiz" id="quiz"></div>
    <button class= "quizBtn" id="submit">Submit Quiz</button>
    <div id="results"></div>

    <h3><a href="quizzes">Back</a></h3>

    <p>Disclaimer: this quiz is not intended to be a replacement for practice. These are a sample of questions that may be found in the event.</p>

    <script>
        //declare variables
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');

        const testQuestions = [ //list of questions
            {
                question: "1. What is the very center of a hair follicle called?",
                answers: { 
                    a: "External Root", 
                    b: "Medulla", 
                    c: "Root"
                },
                correctAnswer: "b"
            },
            {
                question: "2. What makes the medulla of horse hair differ from that of humans/cows/squirrels?",
                answers: { 
                    a: "Absent to Unbroken", 
                    b: "Broken", 
                    c: "Visible"
                },
                correctAnswer: "a"
            },
            {
                question: "3. Which type of fibers dissolve in bleach?",
                answers: { 
                    a: "Animal", 
                    b: "Hair", 
                    c: "Polymer"
                },
                correctAnswer: "a"
            },
            {
                question: "4. Which plastic burns green and polymerizes by addition?",
                answers: { 
                    a: "PSH", 
                    b: "PCH", 
                    c: "PVC"
                },
                correctAnswer: "c"
            },
            {
                question: "5. The medullary index of human hair is typically",
                answers: { 
                    a: "Less than 1/4", 
                    b: "Less than 1/3", 
                    c: "Less than 1/5"
                },
                correctAnswer: "b"
            },
            {
                question: "6. The medullary index of animal hair is typically",
                answers: { 
                    a: "Less than 1/2", 
                    b: "1/2 or greater", 
                    c: "Less than 1/3"
                },
                correctAnswer: "b"
            }
        ];

        function buildQuiz(){ //function to build a quiz
            //variable to store the HTML output
            const output = [];

            //for each question...
            testQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    //variable to store the list of possible answers
                    const answers = [];

                    //and for each available answer...
                    for(letter in currentQuestion.answers){

                    //...add an HTML radio button
                    answers.push(
                            `<label style="display:flex;margin:5px;border:1px solid #ffd700;">
                            <input type="radio" name="question${questionNumber}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                            </label>`
                        );
                        
                    }

                    //add this question and its answers to the output
                    output.push(
                    `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div><br>`
                    );
                }
            );

            //combine output list into one string of HTML and add to page
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){ //function to show the results of the quiz
            //get answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            //keep track of user's answers
            let numCorrect = 0;

            //for each question...
            testQuestions.forEach( (currentQuestion, questionNumber) => {

            //find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;

            //if answer is correct
            if(userAnswer === currentQuestion.correctAnswer){
                //add to the number of correct answers
                numCorrect++;

                //highlight the answers green
                answerContainers[questionNumber].style.backgroundColor  = 'green';
            }
            //if answer is wrong or blank
            else{
                //highlight the answers red
                answerContainers[questionNumber].style.backgroundColor  = 'red';
            }
            }); //count of correct answers will still work. 

            //show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${testQuestions.length}`;
        }

        //immediately display quiz
        buildQuiz();

        //show results when submitted
        submitButton.addEventListener('click', showResults);

    </script>
</body>

<footer>
    <p>This website was created by the Solution Squid team</p>
</footer>
</html>