<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../../public/assets/styles.css">
    <!-- Adding Additional Quiz Styles Here -->
    <style>
 
    </style>
</head>
<body>
    <header><%- include('../header.ejs') %></header>

    <h1>It's About Time Practice Quiz</h1>

    <h4>This is the for the test portion of this event. There is also a build portion that is not covered by this page. See <a href="checklist">checklist</a> for more information.</h4><br><br>

    <div class="quiz" id="quiz"></div>
    <button class= "quizBtn" id="submit">Submit Quiz</button>
    <div id="results"></div>

    <h3><a href="quizzes">Back</a></h3>

    <p>Disclaimer: this quiz is not intended to be a replacement for practice. These are a sample of questions that may be found in the event.</p>

    <script>
        //declare variables
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');

        const testQuestions = [ //list of questions
            {
                question: "1. On what Gregorian date will Ramadan begin 30 Islamic years later (i.e. 1 Ramadan 1472 AH)?",
                answers: { 
                    a: "May 22, 2050", 
                    b: "May 23, 2050", 
                    c: "May 21, 2050"
                },
                correctAnswer: "a"
            },
            {
                question: "2. What day of the week will the answer to the previous question fall?",
                answers: { 
                    a: "Friday", 
                    b: "Saturday", 
                    c: "Sunday"
                },
                correctAnswer: "c"
            },
            {
                question: "3. Cesium is the standard for atomic clocks because it resonates at the same exact frequency every time. What is the electron configuration of Cs (Format Ex. Li: 1s2 2s1)?",
                answers: { 
                    a: "[Xe] 6s2", 
                    b: "[Xe] 6s1", 
                    c: "[Xe] 4f1 5d1 6s2"
                },
                correctAnswer: "b"
            },
            {
                question: "4. What is the energy (in Joules) of the radiation to resonate Cs if the frequency absorbed is 9.19263177 GHz?",
                answers: { 
                    a: "E = hv = 6.1 * 10^-25 J", 
                    b: "E = hv = 6.1 * 10^-24 J", 
                    c: "E = hv = 6.1 * 10^24 J"
                },
                correctAnswer: "b"
            },
            {
                question: "5. Which of the following is a leap year? ",
                answers: { 
                    a: "1800", 
                    b: "1962", 
                    c: "2004"
                },
                correctAnswer: "c"
            },
            {
                question: "6. Which calendar set the months to have the number of days that they currently have in the United States?",
                answers: { 
                    a: "Gregorian", 
                    b: "Julian", 
                    c: "Hebrew"
                },
                correctAnswer: "b"
            },
            {
                question: "7. When the Gregorian calendar was implemented, how many days were eliminated to reset the calendar?",
                answers: { 
                    a: "10", 
                    b: "15", 
                    c: "18"
                },
                correctAnswer: "a"
            },
            {
                question: "8. What type of horological device is most likely to have a gnomon?",
                answers: { 
                    a: "Sundial", 
                    b: "Water clock", 
                    c: "Pendulum Clock"
                },
                correctAnswer: "a"
            },
            {
                question: "9. You are standing by your sundial at a longitude located 5 degrees east of the reference longitude for your time zone. Assuming you haven’t adjusted your sundial for not being on the reference longitude, how will your sundial time differ from a sundial set at the reference longitude?",
                answers: { 
                    a: "5 minutes ahead", 
                    b: "20 minutes ahead", 
                    c: "20 minutes behind"
                },
                correctAnswer: "b"
            },
            {
                question: "10. Which of the following countries have multiple time zones?",
                answers: { 
                    a: "India", 
                    b: "China", 
                    c: "Brazil"
                },
                correctAnswer: "c"
            },
            {
                question: "11. What is the largest offset to UTC?",
                answers: { 
                    a: "12 hours", 
                    b: "14 hours", 
                    c: "24 hours"
                },
                correctAnswer: "b"
            }
        ];

        function buildQuiz(){ //function to build a quiz
            //variable to store the HTML output
            const output = [];

            //for each question...
            testQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    //variable to store the list of possible answers
                    const answers = [];

                    //and for each available answer...
                    for(letter in currentQuestion.answers){

                    //...add an HTML radio button
                    answers.push(
                            `<label style="display:flex;margin:5px;border:1px solid #ffd700;">
                            <input type="radio" name="question${questionNumber}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                            </label>`
                        );
                        
                    }

                    //add this question and its answers to the output
                    output.push(
                    `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div><br>`
                    );
                }
            );

            //combine output list into one string of HTML and add to page
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){ //function to show the results of the quiz
            //get answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            //keep track of user's answers
            let numCorrect = 0;

            //for each question...
            testQuestions.forEach( (currentQuestion, questionNumber) => {

            //find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;

            //if answer is correct
            if(userAnswer === currentQuestion.correctAnswer){
                //add to the number of correct answers
                numCorrect++;

                //highlight the answers green
                answerContainers[questionNumber].style.backgroundColor  = 'green';
            }
            //if answer is wrong or blank
            else{
                //highlight the answers red
                answerContainers[questionNumber].style.backgroundColor  = 'red';
            }
            }); //count of correct answers will still work. 

            //show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${testQuestions.length}`;
        }

        //immediately display quiz
        buildQuiz();

        //show results when submitted
        submitButton.addEventListener('click', showResults);

    </script>
</body>

<footer>
    <p>This website was created by the Solution Squid team</p>
</footer>
</html>