<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../../public/assets/styles.css">
    <!-- Adding Additional Quiz Styles Here -->
    <style>
        
    </style>
</head>
<body>
    <header><%- include('../header.ejs') %></header>

    <h2>WiFi Lab Practice Quiz</h2>

    <div class="quiz" id="quiz"></div>
    <button class= "quizBtn" id="submit">Submit Quiz</button>
    <div id="results"></div>

    <h3><a href="quizzes">Back</a></h3>

    <p>Disclaimer: this quiz is not intended to be a replacement for practice. These are a sample of questions that may be found in the event.</p>

    <script>
        //declare variables
        const quizContainer = document.getElementById('quiz');
        const resultsContainer = document.getElementById('results');
        const submitButton = document.getElementById('submit');

        const testQuestions = [ //list of questions
            {
                question: "1. What is the wavelength of an 97.7 MHz radio wave in meters?",
                answers: { 
                    a: "3.08", 
                    b: "3.07", 
                    c: "3.06"
                },
                correctAnswer: "b"
            },
            {
                question: "2. In which of the following categories would the radio wave from the previous question be classified?",
                answers: { 
                    a: "AM Radio", 
                    b: "WiFi", 
                    c: "FM Radio"
                },
                correctAnswer: "C"
            },
            {
                question: "3. The band of electromagnetic waves with frequencies between 30 MHz and 300 MHz is called what?",
                answers: { 
                    a: "EHF", 
                    b: "VHF", 
                    c: "HF"
                },
                correctAnswer: "b"
            },
            {
                question: "4. The band of electromagnetic waves with wavelengths between 10 000 and 100 000 kilometers is called what?",
                answers: { 
                    a: "ELF", 
                    b: "VLF", 
                    c: "LF"
                },
                correctAnswer: "a"
            },
            {
                question: "5. What is the maximum range in bandwidth (in kHz) allocated to every FM station?",
                answers: { 
                    a: "100", 
                    b: "125", 
                    c: "150"
                },
                correctAnswer: "c"
            },
            {
                question: "6. What is the maximum range in bandwidth (in kHz) allocated to every AM station?",
                answers: { 
                    a: "10", 
                    b: "15", 
                    c: "20"
                },
                correctAnswer: "a"
            },
            {
                question: "7. In what year was a patent granted for the BNC connector?",
                answers: { 
                    a: "1948", 
                    b: "1951", 
                    c: "1954"
                },
                correctAnswer: "b"
            },
            {
                question: "8. How is the wavelength of an electromagnetic wave related to its period?",
                answers: { 
                    a: "Directly", 
                    b: "Inversely", 
                    c: "Variably"
                },
                correctAnswer: "a"
            },
            {
                question: "9. Which of the following types of electromagnetic waves are the most energetic per photon?",
                answers: { 
                    a: "Green Visible Light", 
                    b: "Red Visible Light", 
                    c: "UV"
                },
                correctAnswer: "c"
            },
            {
                question: "10.  Which of the following types of electromagnetic waves are the most energetic per photon?",
                answers: { 
                    a: "HF", 
                    b: "VHF", 
                    c: "UHF"
                },
                correctAnswer: "c"
            },
            {
                question: "11. Television channel 37 is not allowed to be used for television broadcasting in the United States, and instead is used for what purpose?",
                answers: { 
                    a: "Radio Astronomy", 
                    b: "Police Comms", 
                    c: "Fire/EMS Comms"
                },
                correctAnswer: "a"
            },
            {
                question: "12. In the United States, the WWVB broadcasts a time signal in what ITU-designated radio band?",
                answers: { 
                    a: "ULF", 
                    b: "VLF", 
                    c: "LF"
                },
                correctAnswer: "c"
            },
            {
                question: "13. Which of the following ITU-designated radio bands is used for AM radio transmissions in the United States?",
                answers: { 
                    a: "LF", 
                    b: "MF", 
                    c: "HF"
                },
                correctAnswer: "b"
            },
            {
                question: "14. Which of the following ITU-designated radio bands is generally used for communication in mines because it can penetrate the Earth?",
                answers: { 
                    a: "ULF", 
                    b: "VLF", 
                    c: "LF"
                },
                correctAnswer: "a"
            },
            {
                question: "15. High band VHF is another name for which band of radio frequencies used for radio and television broadcasting?",
                answers: { 
                    a: "Band I", 
                    b: "Band II", 
                    c: "Band III"
                },
                correctAnswer: "c"
            }
        ];

        function buildQuiz(){ //function to build a quiz
            //variable to store the HTML output
            const output = [];

            //for each question...
            testQuestions.forEach(
                (currentQuestion, questionNumber) => {

                    //variable to store the list of possible answers
                    const answers = [];

                    //and for each available answer...
                    for(letter in currentQuestion.answers){

                    //...add an HTML radio button
                    answers.push(
                            `<label style="display:flex;margin:5px;border:1px solid #ffd700;">
                            <input type="radio" name="question${questionNumber}" value="${letter}">
                            ${currentQuestion.answers[letter]}
                            </label>`
                        );
                        
                    }

                    //add this question and its answers to the output
                    output.push(
                    `<div class="question"> ${currentQuestion.question} </div>
                    <div class="answers"> ${answers.join('')} </div><br>`
                    );
                }
            );

            //combine output list into one string of HTML and add to page
            quizContainer.innerHTML = output.join('');
        }

        function showResults(){ //function to show the results of the quiz
            //get answer containers from our quiz
            const answerContainers = quizContainer.querySelectorAll('.answers');

            //keep track of user's answers
            let numCorrect = 0;

            //for each question...
            testQuestions.forEach( (currentQuestion, questionNumber) => {

            //find selected answer
            const answerContainer = answerContainers[questionNumber];
            const selector = `input[name=question${questionNumber}]:checked`;
            const userAnswer = (answerContainer.querySelector(selector) || {}).value;

            //if answer is correct
            if(userAnswer === currentQuestion.correctAnswer){
                //add to the number of correct answers
                numCorrect++;

                //highlight the answers green
                answerContainers[questionNumber].style.backgroundColor  = 'green';
            }
            //if answer is wrong or blank
            else{
                //highlight the answers red
                answerContainers[questionNumber].style.backgroundColor  = 'red';
            }
            }); //count of correct answers will still work. 

            //show number of correct answers out of total
            resultsContainer.innerHTML = `${numCorrect} out of ${testQuestions.length}`;
        }

        //immediately display quiz
        buildQuiz();

        //show results when submitted
        submitButton.addEventListener('click', showResults);

    </script>
</body>

<footer>
    <p>This website was created by the Solution Squid team</p>
</footer>
</html>