:root {
  --main-color: lightgrey;
  --secondary-color: darkgrey;
  --accent-color: rgba(65, 4, 11);
}

body {
  margin: auto;
  width: 98vw;
  margin-top: 0;
  background-color: var(--accent-color);
}
ul li {
  display: inline;
}
header a {
  margin: 10px;
  height: 38px;
}
#content {
  background-color: var(--main-color);
  width: 92%;
  height: 90vh;
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}
#form {
  display: block;
  margin: auto;
  text-align: start;
  width: 40%;
  max-width: 350px;
  height: 50%;
}
#form form {
  width: 100%;
}
#form label {
  display: block;
  margin-top: 15px;
  margin-left: 20px;
  width: 30%;
}
#form input {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}
#submit {
  margin-top: 25px;
  text-align: end;
  position: relative;
  left: calc(100% - 70px);
}
form {
  display: inline-block;
}
header {
  background-color: var(--main-color);
  margin: 0;
  margin-top: 0;
}
header ul {
  padding: 2px;
}
