<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../../public/assets/styles.css">
    <!-- Adding additional Styles Here -->
    <style>

    </style>
</head>
<body>
    <header><%- include('header.ejs') %></header>
    <h1>Blog</h1>
    <h2>Pinned Articles</h2>
    <p>A <a href="resources">list</a> of resources, such as the Wiki and build info, is available.</p>

    <h2>2022-2023 Season</h2>
    <h3>Boyceville 2022</h3>
    <p>The Menomonie High School team competed at the Boyceville Invite. The Maroon team (Varsity) garnered medals in over 25 events and placed 2nd overall of 31 teams. The Exhibition teams White and Gold (JV) garnered five medals.</p>
    <h3>Belleville 2022</h3>
    <p>The Menomonie High School team competed at the Belleville Invite. They placed third in the large high schools division.</p>
    <h3>Captains Note</h3>
    <p>Six Captains have been selected to represent the team in the 2022-2023 season. They are available for help in all event categories.</p>

    <h2>2021-2022 Season</h2>
    <h3>Transition to New Coaches</h3>
    <p>This season has been filled with uncertainty from the Covid-19 pandemic causing tournaments to be moved online, as well as the transition to new coaching leadership. We thank Coach D and Coach H for their dedication to the team. </p>
    <h3>Reclaiming Second at State 2022</h3>
    <p>Menomonie High School was able to reclaim our Runner-up status at the Wisconsin State Tournament this season! They finish a successful year of finishing in the top 3 during the decade. They say thanks to the seniors as they graduate from MHS and enter their post-secondary lives.</p>
    <h3>Regionals 2022</h3>
    <p>Menomonie High School continues their Regionals Winning Streak with their first place win. They travel to Stevens Point in April for the State Tournament.</p>
    <h3>Homecoming 2022</h3>
    <p>The Menomonie High School Student Council has selected retired coaches Coach V and Coach S to be the two Grand Marshalls in the homecoming parade. They will speak at the coronation ceremony prior to the parade.</p>

    <h2>2020-2021 Season</h2>
    <h3>Coaches Retirement</h3>
    <p>The Menomonie High School Science Olympiad Team would like to say thanks to Coach V and Coach S for their many years of service for the team and their dedication to this program, and wishes them all the best in their retirements. </p>
    <h3>State Tournament</h3>
    <p>The Menomonie High School team placed third in the entire state. They say thanks to the seniors as they graduate from MHS and enter their post-secondary lives. </p>
    <h3>BEARSO</h3>
    <p>The Menomonie High School team was one of the two teams in the state to participate in the inaugural tournament with the online format.</p>
    <h3>Covid-19 Pandemic</h3>
    <p>The Menomonie High School Science Olympiad team will continue to be active during the school year, working together with the school district and following their guidance throughout these dark periods.</p>

</body>
</html>