<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/public/assets/email.css" rel="stylesheet" type="text/css" />
  <title>Email Sign Up</title>
  <link rel="stylesheet" href="../../css/styles.css"> 
</head>
<body>
  <header><%- include('header.ejs') %></header>
  <section id="content">
    <h4 id="banner">Please sign up to recieve information on the team and its schedule.</h4>
    <div id="form">
      <form name="emailForm">
        <label for="email_name">Email: </label>
        <input id="email_name" type="email" name="email_name"><br>
        <label for="user_name">Name: </label>
        <input id="user_name" type="text" name="user_name"><br>
      </form>
      <button id="submit" onclick="javascript:send(document.getElementById('email_name').value, document.getElementById('user_name').value);">Submit</button>
    </div>
  <p id="output"></p>
</section>
</body>
<script>
const subButton = document.getElementById('submit');
const output = document.getElementById('output');
const send = async function (email, name) {
  const response = await fetch(`/emailSignup`, {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      userEmail: email,
      userName: name,
    }),
  });
  const result = await response.json();
  if (result.error) {
    output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
  } else {
    document.location.href = "emailSuccess";
  }
};
</script>
</html>