<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capstone project</title>
</head>
<body>
  <a id="feedback" href="/feedback">Feedback</a>
  <% testCount.forEach(function(b) { %>
    <p id="<%= b.id %>Counter">
      <%= b.advice %> counter : <%= b.counter %>
    </p> 
  <% }); %>
  <p>Testing count: <%= testCount.advice %> </p>
  <button id="test" onclick="javascript:send(this.id);">Test</button>
  <p id="output"></p>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
const testButton = document.getElementById('test');
const output = document.getElementById('output');
const send = async function (buttonId) {
  const response = await fetch(`/log`, {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      id: buttonId,
    }),
  });
  const result = await response.json();
  if (result.error) {
    output.innerHTML = "test" `<strong>ERROR: ${result.error.routine}</strong>`;
  } else {
    output.innerHTML = `<p>passed.</p>`;
  }
};

//Event listeners for web sockets.
testButton.addEventListener('click', function (e) {
  e.preventDefault();
  socket.emit('Socket established');
});

//"socket.on" functions.
socket.on('Socket established', function () {
  const button = document.getElementById('test');
  button.innerHTML = 'success';
});

  </script>
</body>
</html>