<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background-color:#41040B;
      color: white;
    }

    p {
        background-color: black;
    }

    input {
        width: 400px; 
        height: 50px;
    }
  </style>
  <title>MHS Science Olympiad</title>
</head>
<body>
  <h1>MHS Science Olympiad - Advice Page</h1>
  <a id="feedback" href="/">Home</a></br>
  <textarea id="textarea" rows="5" cols="60" name="description" maxlength="100">
    Enter details here...
  </textarea>
  <button id="11" onclick="javascript:send(document.getElementById('textarea').value);">Submit</button>
  <div id="container">
    <% feedbackCount.forEach(function(b) { %>
      <p id="<%= b.id %>Advice">
        <%= b.advice %>
      </p> 
    <% }); %>
    <p id="output"></p>
    </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
const testButton = document.getElementById('11');
const output = document.getElementById('output');
const send = async function (buttonId) {
  const response = await fetch(`/feedlog`, {
    method: 'POST',
    headers: {
      Accept: 'application/json',
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({
      id: buttonId,
    }),
  });
  const result = await response.json();
  if (result.error) {
    output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
  } else {
    location.reload();
  }
};

//Event listeners for web sockets.
testButton.addEventListener('click', function (e) {
  e.preventDefault();
  socket.emit('Socket established');
});

//"socket.on" functions.
socket.on('Socket established', function () {
  const button = document.getElementById('11');
  button.innerHTML = 'success';
});

  </script>
</body>
</html>