<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fortune Cookie for Science Students</title>
    <meta charset="utf-8">
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />
    <style>
      #quoteDisplay {
        font-family: Tahoma, Verdana, Segoe, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
        padding-bottom: 10px;
      }
    </style>
  </head>

  <body>
  <header><%- include('header.ejs') %></header>

  <div>
    <img src="/public/assets/fortune-cookies-with-paper.jpg" alt="fortune cookie" style="max-width: 20%;">
    <h1>Cookies in computer science</h1>
    <p>This website code uses session, not cookie.</p>
    <h2>Fortune cookie messages that encourage you for your science study</h2>
  </div>

    <div id = "quoteDisplay">
      <!--Quote will display here-->
    </div>
    <button id="cookieClicker" onclick="getFortune()">Fortune Cookie for science students</button>

    <script>
      
      var cookie_btn = document.getElementById("cookieClicker");
		
      const fortuneList = ["Cyber security is just one byte away!", "A bug in the hand is better than one as yet undetected.", "An elephant is a mouse with an operating system.", "BREAKFAST.COM Halted -- Cereal Port Not Responding.", "Real programs don't eat cache.", "Shift to the left! Shift to the right! Pop up, push down, byte, byte, byte!", "To be, or not to be, those are the parameters.", "Too many clicks spoil the browse.", "Would YOU pass a Turing test?", "A bug in the code is worth two in the documentation.", "Software is mind work. Having the right frame of mind is essential.", "The less time planning, the more time programming.", "Take time in life to smell the rabbits, eat the flowers, and pet the cactus.", "Research: See what everyone saw, but think what no one else thought.", "Upgrade: Take old bugs out, put new ones in.", "There's no place like http://www.home.com.", "Guessing and hoping it works is not programming. - KH"];

		  function getFortune() {
        let randomnumber = Math.floor(Math.random() * (fortuneList.length));
        return document.getElementById('quoteDisplay').innerHTML = fortuneList[randomnumber];
		  }

      cookie_btn.addEventListener("click", getFortune);

    </script>
  </body>

  <footer>
    <p>This website was created by the Solution Squid team</p>
  </footer>
  </html>