<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundraise for humane science education</title>
  <link href="/assets/styles.css" rel="stylesheet">
</head>
<body>

  <header>
  <%- include('header.ejs') %>
    <div id="logoPic">
      <img id="volunteer" src="/public/assets/students_doggies.png" alt="Students volunteer for exercising the doggies in the shelter">
      <h4>The high school cross-country runners run with the shelter dogs</h4>
      <br>
      <p>The students in science club can help lab animals by searching for the alternatives to animal testing in science education and research.</p>
      <br>
      <h2>Fundraise for the humane science education</h2>
      <ol>
        <li>Students will use exsiting animal testing data instead of another animal testing.</li>
        <li>Students will develop computer simulation instead of animal testing.</li>
        <li>Learners can contribute on the science curriculum by new methodologies.</li>
      </ol>
    </div>
  </header>

  <div id="navTabs">
    <ul id="nav">
      <li id="first"><a id="Home" href="home">Home</a></li>
      <li><a id="fund" href="fundraise">Fundraise</a></li>
    </ul>
  </div>

  <footer>
    <address>
      <a href="mailto:ehwang1@student.cvtc.edu">Send an email for questions or suggestions.</a>
    </address>
    <p>copyLeft; Solution Squid Team 2022</p>
  </footer>
  
</body>
</html>