<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundraise for humane science education</title>
  <link href="/assets/styles.css" rel="stylesheet">
</head>
<body>

  <header>
  <%- include('header.ejs') %>
    <div id="logoPic">
      <img src="/public/assets/pie1.png" alt="A pie with a science sign of pi">
      <h4>Pie sale for the science students</h4>
      <br>
      <p>"Learning science can be as easy as pie" - Layla Eplett</p>
      <br><br><br>
      <img src="/public/assets/pie2.png" alt="A piece of pie and pi">
      <h2>There is pi in this pie</h2>
      <ol>
        <li>Students baked the pi pies in math class</li>
        <li>The fundraised money will go for the away game cost</li>
        <li>Pumpkin Pi, Apple Pi, Lemon Pi for $10 each</li>
      </ol>
    </div>
  </header>

  <footer>
    <address>
      <a href="mailto:ehwang1@student.cvtc.edu">Send an email for questions or suggestions.</a>
    </address>
    <p>copyLeft &#127279; Solution Squid Team 2022</p>
  </footer>
  
</body>
</html>