<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fundraise for humane science education</title>
  <link href="/public/assets/styles.css" rel="stylesheet">
</head>
<body>

  <header>
    <div id="logoPic">
      <img id="volunteer" src="/public/assets/students_doggies.png" alt="Students volunteer for exercising the doggies in the shelter">
    </div>
  </header>

  <div id="navTabs">
    <ul id="nav">
      <li id="first"><a id="Home" href="home.ejs">Home</a></li>
      <li><a id="fund" href="fundraise.ejs">Fundraise</a></li>
    </ul>
  </div>

  <footer>
    <address>
      <a href="mailto:ehwang1@student.cvtc.edu">Send an email for questions or suggestions.</a>
    </address>

    <ul>
      <li><a href="home.ejs">Home</a>&nbsp; |&nbsp;</li>
    </ul>
    <p>copyLeft; Solution Squid Team 2022</p>
  </footer>

  <script src="js/server.js"></script>
  
</body>
</html>