<ul>
  <a href="home">Home</a>
  <a href="feedback">Feedback</a>
  <a href="emailSignup">Email sign up</a>
  <a href="fundraise">Fundraise</a>
  <a href="travel">Travel</a>
  <a href="upcoming">Upcoming events</a>
</ul>