<h1>Menomonie Science Olympiad</h1>
<button onclick="showNav()" id="navBtn" title="Show Navigation">Menu</button>
<nav>
  <ul>
    <strong><a href="home">Home</a></strong>
    <a href="blog">Blog</a>
    <a href="checklist">Checklist</a>
    <a href="discussion">Discussion</a>
    <a href="emailSignup">Email Signup</a>
    <a href="feedback">Feedback</a>
    <a href="fundraise">Fundraise</a>
    <a href="travel">Travel</a>
    <!--<a href="upcoming">Upcoming events</a> -->
    <a href="quizzes">Quizzes</a>
    <a href="fortune_cookie">Fortune</a>
    <a href="resources">Resources</a>
    <%if(!user){ %>
    <a id="loginNav" href="login">Login</a>
    <%} else { %>
      <a id="loginNav" href="logout">Logout</a>
    <% } %>
  </ul>
</nav>
<script>
  //when button is selected, show navigation.
  function showNav() {

    //Header variables
    const navShowContents = document.querySelector("nav");
    const btnShowNavigation = document.getElementById("navBtn");
    const headerOne = document.querySelector("h1");

    if (navShowContents.style.display === "block") { 
        navShowContents.style.display = "none";
        btnShowNavigation.innerHTML = "Menu"; 
        headerOne.style.display = "block";
    } else {
        navShowContents.style.display = "block"
        btnShowNavigation.innerHTML = "X";
        headerOne.style.display = "none";
    }
  }
</script>