<div id="headWrapper">
<h1>Menomonie Science Olympiad</h1>
<button onclick="showNav()" id="navBtn" title="Show Navigation"><i class="fa fa-bars"></i></button>
<nav>
  <ul>
    <li id="homeBtn"><a href="home">Home</a></li>
    <%if(!user){ %>
      <li id="loginBtn"><a href="login">Login</a></li>
      <%} else { %>
        <li id="logoutBtn"><a href="logout">Logout</a></li>
      <% } %>
    <li><a href="blog">Blog</a></li>
    <li><a href="checklist">Checklists</a></li>
    <li><a href="discussion">Chat</a></li>
    <!-- <li><a href="emailSignup">Signup</a></li> -->
    <li><a href="feedback">Feedback</a></li>
    <li><a href="fundraise">Fundraise</a></li>
    <li><a href="travel">Travel</a></li>
    <!--<a href="upcoming">Upcoming events</a> -->
    <li><a href="quizzes">Quizzes</a></li>
    <li><a href="fortune_cookie">Fortune</a></li>
    <li><a href="resources">Resources</a></li>
  </ul>
</nav>
<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href= "../../public/assets/header.css" rel="stylesheet">
<!--Used strictly to prevent a 404 error-->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<script>
  //when button is selected, show navigation.
  function showNav() {

    //Header variables
    const navShowContents = document.querySelector("nav");
    const btnShowNavigation = document.getElementById("navBtn");
    const headerOne = document.querySelector("h1");

    if (navShowContents.style.display === "block") { 
        navShowContents.style.display = "none"; 
        headerOne.style.display = "block";
    } else {
        navShowContents.style.display = "block"
    }
  }
</script>
</div>