<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menomonie High School Science Club</title>
    <meta charset="utf-8">
    <link href="css/styles.css" rel="stylesheet">
    <link href= "/assets/email.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
  <header><%- include('header.ejs') %></header>

    <div id="loginForm">
      <form id="members_login">
        <h3 id="member">Member Login</h3>
        <p>
          <input type="text" name="userName" id="userName" value="username">
          <input type="password" name="passWord" id="passWord" value="password">
          <input type="submit" class="goButton" name="Submit" value="Go!">
        </p>
      </form>
    </div>

    <header>
      <div id="logoPic">
        <img id="logoIllust" src="/public/assets/logoPic.jpg" alt="STEM illustration">
      </div>
    </header>

    <div id="navTabs">
      <ul id="nav">
        <li id="first"><a id="Home" href="home">Home</a></li>
        <li><a id="fund" href="fundraise">Fundraise</a></li>
      </ul>
    </div>

    <footer>
      <address>
        <a href="mailto:ehwang1@student.cvtc.edu">Send an email</a>
      </address>

      <ul>
        <li><a href="home.ejs">Home</a>&nbsp; |&nbsp;</li>
      </ul>
      <p>copyLeft; Solution Squid Team 2022</p>
    </footer>

    <script src="js/server.js"></script>

  </body>
</html>