<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Menomonie High School Science Club</title>
    <meta charset="utf-8">
    <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
  <header><%- include('header.ejs') %></header>
    <header>
      <div id="logoPic">
        <img id="logoIllust" src="/public/assets/logoPic.jpg" alt="STEM illustration">
      </div>
    </header>

    <footer>
      <address>
        <a href="mailto:ehwang1@student.cvtc.edu">Send an email</a>
      </address>

      <p>copyLeft; Solution Squid Team 2022</p>
    </footer>

    <script src="js/server.js"></script>

  </body>
</html>