<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <link rel="stylesheet" href="../../public/assets/styles.css">
    <!-- Adding additional Styles Here -->
    <style>
        .quiz {
            border: 5px outset #F79DA8;
            background-color: #3B0028;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        ul {
            list-style: none;
        }
        a {
            color: #d085b8;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <a href="home.ejs">Home</a>
            <a href="feedback.ejs">Feedback</a>
            <a href="emailSignup.ejs">Email Signup</a>
            <a href="fundraise.ejs">Fundraise</a>
            <a href="travel.ejs">Travel</a>
            <a href="upcoming.ejs">Upcoming events</a>
          </ul>
    </header>
    <h1>Quizzes</h1>
    <h2>Earth Science Events</h2>
    <ul>
        <li><a href="quizzes/astronomy.html">Astronomy<br></a></li>
        <li><a href="quizzes/dynamic.html">Dynamic Planet</a></li>
        <li><a href="quizzes/remote.html">Remote Sensing</a></li>
    </ul>

</body>
</html>