<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="../../public/assets/styles.css">
    <!-- Adding additional Styles Here -->
    <style>
        li {
            font-family: Tahoma, Verdana, Segoe, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 400;
            line-height: 20px;
        }
    </style>
</head>
<body>
    <header><%- include('header.ejs') %></header>
    <h1>Resources</h1>
    <h2>A list of resources is available.</h2>
    
    <p>
        <ul>
            <li>Science Olympiad Wiki at <a href="https://scioly.org/">Link</a></li>
            <li>Science Olympiad Official at <a href="https://www.soinc.org/">Link</a></li>
            <li>Wisconsin Science Olympiad at <a href="https://www.wisconsinso.org/">Link</a></li>
            <li>Menomonie High School at <a href="https://mhs.sdmaonline.com/">Link</a></li>
            <li>Online Competitions at <a href="https://scilympiad.com/">Link</a></li>
            <li>Avogadro at <a href="https://app.avogadro.ws/hosted">Link</a></li>
        </ul>
    </p>

</body>
</html>