<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Information</title>
    <link rel="stylesheet" href="/assets/styles.css"> 
    <style>
        /* Popup container - can be anything you want */
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 220px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 3px;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        height: fit-content;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        left: 150%;
        margin-left: -80px;
    }

    /* Popup arrow 
    .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #000 transparent transparent transparent;
    }*/

    /* Toggle this class - hide and show the popup */
    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    span p {
        text-align: left;
        margin-left: 2px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
    }

    th {
        font-size: larger;
        background-color: #928800;
        color: #000;
    }
     tr:nth-child(even){
        background-color: #555555;
    }
    tr:nth-child(odd){
        background-color: #383838;
    }
    </style>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
        <h1>MHS SY Team</h1>
    </header>

    <h2>
        Travel Information - for upcoming events.
    </h2>

    <table>
        <tr >
            <th style="width: 120px;">Date</th>
            <th style="width: 120px;">Location</th>
            <th style="width: 160px;">Mode</th>
            <th style="width: 80px;">Depature</th>
            <th style="width: 80px;">Return</th>
            <th style="width: 80px;">Hotel</th>
        </tr>
        <tr>
            <td>12-03-2022</td>
            <td>Boyceville</td>
            <td>Yellow School Bus</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>No</td>
        </tr>
        <tr>
            <td>01-07-2023</td>
            <td>Marquette</td>
            <td>TBD Bus</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>01-14-2023</td>
            <td>Medford</td>
            <td>Yellow School Bus</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>No</td>
        </tr>
        <tr>
            <td>01-21-2023</td>
            <td>UW - River Falls</td>
            <td>Yellow School Bus</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>No</td>
        </tr>
        <tr>
            <td>03-04-2023</td>
            <td>Menomonie High</td>
            <td>None</td>
            <td>None</td>
            <td>None</td>
            <td>No</td>
        </tr>
        <tr>
            <td>04-01-2023</td>
            <td>State Tournament</td>
            <td>TBD Bus</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>Yes</td>
        </tr>
    </table>

    <!-- <p>
        Completed Events: <br>
        <ol>
            <button class="popup" onclick="showEvent('popupEvent1')">Belleville, WI (11-12-2022)
                <span class="popuptext" id="popupEvent1">
                    <p>
                        Yellow School Bus<br>
                        Departs: 3am<br>
                        Returns: 10pm<br>
                        Both at MHS Main Doors<br>
                        <b>Caution:</b> Redeye Bus Journey<br>
                        Hotel Stay: None<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
        </ol>

        Upcoming Events: <br>
        <ol>
            <button class="popup" onclick="showEvent('popupEvent2')">Boyceville Invite (12-03-2022)
                <span class="popuptext" id="popupEvent2">
                    <p>
                        Yellow School Bus<br>
                        Departs: TBD<br>
                        Returns: TBD<br>
                        Both at MHS Main Doors<br>
                        Hotel Stay: None<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
            
            <button class="popup" onclick="showEvent('popupEvent3')">Marquette Invite (01-07-2023)
                <span class="popuptext" id="popupEvent3">
                    <p>
                        TBD Bus<br>
                        Departs: TBD<br>
                        Returns: TBD<br>
                        Both at MHS Main Doors<br>
                        <b>Caution:</b> Overnight Stay<br>
                        Hotel Stay: Yes<br>
                        Hotel Name: TBD<br>
                        Hotel Address: TBD<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
            
            <button class="popup" onclick="showEvent('popupEvent4')">Medford Invite (01-14-2023)
                <span class="popuptext" id="popupEvent4">
                    <p>
                        Yellow School Bus<br>
                        Departs: TBD<br>
                        Returns: TBD<br>
                        Both at MHS Main Doors<br>
                        <b>Caution:</b> Early Bus Journey<br>
                        Hotel Stay: None<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
            
            <button class="popup" onclick="showEvent('popupEvent5')">UW - River Falls  (01-21-2023)
                <span class="popuptext" id="popupEvent5">
                    <p>
                        Yellow School Bus<br>
                        Departs: TBD<br>
                        Returns: TBD<br>
                        Both at MHS Main Doors<br>
                        Hotel Stay: None<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
            
            <button class="popup" onclick="showEvent('popupEvent6')">Menomonie Regional (03-04-2023)
                <span class="popuptext" id="popupEvent6">
                    <p>
                        The event is hosted at Menomonie High School, so no travel is required.<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
            
            <button class="popup" onclick="showEvent('popupEvent7')">State Tournament (04-01-2023)
                <span class="popuptext" id="popupEvent7">
                    <p>
                        TBD Bus<br>
                        Departs: TBD<br>
                        Returns: TBD<br>
                        Both at MHS Main Doors<br>
                        <b>Caution:</b> Redeye Bus Journey<br>
                        Hotel Stay: Yes<br>
                        Hotel Name: TBD<br>
                        Hotel Address: TBD<br>
                        <b>Be aware that above info is subject to change</b><br>
                    </p>
                </span>
            </button><br>
        </ol>

        Last Updated: November 20, 2022
    </p> -->

    <footer>
        MHS Science Olympiad Team
    </footer>

    <!-- <script>
        let storedEvent;
        function showEvent(event){
            // Hide popups currently showing
            hidePopups = document.getElementsByClassName('show')
            if(hidePopups.length > 0){  
                for (let i = 0; i < hidePopups.length; i++){
                hidePopups[i].classList.toggle('show');
                } 
            }

            //show/toggle new popup
            if(storedEvent != event){
                let popup = document.getElementById(event);
                popup.classList.toggle("show")
                storedEvent = event;
            } else {
                storedEvent = "";
            }
            
        } -->
        
    </script>
</body>
</html>