<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Information</title>
    <link rel="stylesheet" href="/assets/styles.css"> 
    <style>
        /* Popup container - can be anything you want */
    .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        width: 220px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin-bottom: 3px;
    }

    /* The actual popup */
    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        height: fit-content;
        background-color: #000;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        left: 150%;
        margin-left: -80px;
    }

    .popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    span p {
        text-align: left;
        margin-left: 2px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 3px;
    }

    th {
        font-size: larger;
        background-color: #928800;
        color: #000;
    }
     tr:nth-child(even){
        background-color: #555555;
    }
    tr:nth-child(odd){
        background-color: #383838;
    }
    </style>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
    </header>

    <h1>
        Travel Information
    </h1>

    <h2>For upcoming events in Spring 2023. Information subject to change.</h2>

    <table>
        <tr>
            <th style="width: 120px;">Date</th>
            <th style="width: 120px;">Location</th>
            <th style="width: 160px;">Mode</th>
            <th style="width: 80px;">Hotel</th>
        </tr>
        <tr>
            <td>Jan07</td>
            <td>Marquette</td>
            <td>TBD Bus</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Jan14</td>
            <td>Medford</td>
            <td>Yellow School Bus</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Jan21</td>
            <td>UW - River Falls</td>
            <td>Yellow School Bus</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Mar04</td>
            <td>Menomonie High</td>
            <td>None</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Apr01</td>
            <td>State Tournament</td>
            <td>TBD Bus</td>
            <td>Yes</td>
        </tr>
    </table>
</body>

<footer>
    <p>This website was created by the Solution Squid team</p>
</footer>
</html>