<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link rel="stylesheet" href="/assets/styles.css"> 
</head>
<body>
    <header>
        <%- include('header.ejs') %>
        <h1>MHS SY Team</h1>
    </header>

    <h2>
        Upcoming events are listed below:
    </h2>

    <p>

        <h3>There are ongoing fundraisers! Check them out at this <a href="fundraise">link</a></h3>
        
        Completed Events: <br>
        <ol>
            <li>Belleville Invite (11-12-2022)</li>
        </ol>

        Upcoming Events: <br>
        <ol>
            <li>Boyceville Invite (12-03-2022)</li>
            <li>Marquette Invite (01-07-2023)</li>
            <li>Medford Invite (01-14-2023)</li>
            <li>UW - River Falls Border Battle Invite (01-21-2023)</li>
            <li>Menomonie Regional (03-04-2023)</li>
            <li>State Tournament (04-01-2023)</li>
        </ol>

        For travel information, check out this <a href="travel">page.</a><br><br>

        Last Updated: November 20, 2022<br>
    </p>

    <footer>
        MHS Science Olympiad Team
    </footer>

    <script>

    </script>
</body>
</html>